#parent {
  border: 1px solid red;
  display: flex;
  gap: 20px;
}
#parent > div:first-child {
  /* border: 2px solid black; */
  width: 30%;
  margin-right: 20px;
  padding: 20px;
  color: black;
}
#parent > div:last-child {
  border: 2px solid green;
  width: 100%;
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.form-row label {
  flex: 0 0 30%; /* fixed width for labels */
  font-weight: bold;
}

.form-row input,
.form-row select {
  flex: 1; /* take remaining space */
  padding: 6px;
  min-width: 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

table {
  border: 2px solid green;
  width: 100%;
}

tr,
th,
td {
  border: 1px solid green;
  text-align: center;
}
